/* general */

:root {
  /* --main-green: rgb(181, 12, 197);
  --main-green-transparent: rgba(159, 11, 172, 0.171); */

  --main-green: #166678;
  --main-green-transparent: #16667832;
}

* {
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.nav-link {
  font-weight: 600;
  transition: all 0.4s ease;
}

.nav-link-hover:hover {
  color: var(--main-green);
  transition: all 0.4s ease;
}

/* hero */
.hero {
  background-image: url("../imgs/hero_image_3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 1px 4px 26px -2px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px 4px 26px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 1px 4px 26px -2px rgba(0, 0, 0, 0.42);
}

.hero-title-container {
  background-color: rgba(159, 11, 172, 0.171);
  padding: 2em;
  border-radius: 10px;
}

.hero-title {
  font-size: 2em;
  font-weight: 700;
  color: rgb(245, 245, 245);
}

/* Hero media queries */
@media screen and (max-width: 390px) {
  .hero-title-container {
    padding: 1.25em;
  }

  .hero-title {
    font-size: 1em;
    font-weight: 700;
  }
}

/* sobre */

.about-container {
  height: 70vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 1em;
}

.title-container {
  background-color: var(--main-green);
  padding: 7em 3em;
  border-radius: 100%;
}

.about-title {
  color: white;
}

.about-text {
  margin-top: 1em;
  text-align: start;
  font-size: 18px;
  width: 20%;
}

/* cards */

.produtos-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-produtos {
  text-align: start;
  margin-bottom: 1em;
  color: var(--main-green);
}

.cards-container {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.card-container {
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-green);
  padding: 0 0 1em 0;
  align-items: center;
  border-radius: 5px;
}

.card-container:hover {
  transform: scale(1.1);
  margin: 0 2em;
  transition: all 0.6s ease;

  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}

.card-image {
  width: 350px;
  height: 400px;
  text-align: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1em;
  height: 100%;
  margin-top: -1em;
}

.card-title {
  font-size: 1.4em;
  text-align: start;
  width: 100%;
  color: var(--main-green);
}
