/* navbar */

/* hero */
.hero {
  background-image: url("../imgs/hero_image_3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title-container {
  background-color: rgba(159, 11, 172, 0.171);
  padding: 2em;
  border-radius: 10px;
}

.hero-title {
  font-size: 2em;
  font-weight: 700;
  color: rgb(245, 245, 245);
}

@media screen and (max-width: 390px) {
  .hero-title-container {
    padding: 1.25em;
  }

  .hero-title {
    font-size: 1em;
    font-weight: 700;
  }
}
